svg {
  margin: 0 auto;
  display: block;
}

.tick line {
  stroke: #ccc;
}

.tick line {
  stroke: #ccc;
}

.domain {
  stroke: #ccc;
}

circle {
  opacity: .8;
}

.tooltip {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  background-color: rgba(255,255,255,.9);
  border: 2px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.tooltip:before {
  content: '';
  position: absolute;
  border: 16px solid transparent;
  border-bottom-color:  rgba(0, 0, 0, 0.1);
  top: -34px;
  left: 50%;
  margin-left: -16px;
}
